.DS_Store
login.php

*test*

*copy*

*orig*

*backup*

*-prd*

*/old/*

*-old*

deprecated

preresearch

pre_research

*.BAK*

*.NEW*

*/faces/thumbs/*.jpg

labs/colorspace/colours.php

labs/colorspace/index.php
